.board {
  width: 800px;
  height: 570px;
  position: relative;
  background-color: #335533;
  box-sizing: border-box;
  border: 10px solid black;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
}

.left-bin {
  position: relative;
  left: 27px;
}

.right-bin {
  position: relative;
  left: 420px;
  top: -480px;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-top: 240px solid #585858;
  border-bottom: 0px solid;
  display: inline;
  float: left;
}

.left-bin .bottom-row {
  clear: left;
}

.right-bin .top-row {
  clear: left;
}

.right-bin .bottom-row {
  clear: left;
}

.bottom-row {
  position: relative;
  top: 70px;
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-top: 0px solid;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 240px solid #585858;
  display: inline;
  float: left;
}

.arrow-up.odd {
  border-bottom: 240px solid #320c0c;
}

.arrow-down.even {
  border-top: 240px solid #320c0c;
}

.middle-bar {
  width: 33px;
  height: 550px;
  padding: 5px;
  background-color: black;
  position: absolute;
  left: 370px;
  top: 0px;
}

.slot {
  transform: translateY(-40px, -40px);
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.hole {
  opacity: 0.8;
  border: 40px ridge slategray;
  width: 30px;
  height: 30px;
  transform: translate(-35px, -35px);
  border-radius: 50%;
}

.dice {
  position: absolute;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  width: 43px;
  height: 43px;
  border: 1px solid black;
}

.dice.first {
  left: 536px;
  top: 250px;
}

.dice.second {
  left: 594px;
  top: 250px;
}

.dice.third {
  left: 142px;
  top: 250px;
}
.dice.fourth {
  left: 200px;
  top: 250px;
}

.dice.slot {
  border: none;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.dice.slot.two {
  left: 14px;
}
.dice.slot.three {
  left: 28px;
}
.dice.slot.four {
  top: 14px;
}
.dice.slot.five {
  top: 14px;
  left: 14px;
}
.dice.slot.six {
  top: 14px;
  left: 28px;
}
.dice.slot.seven {
  top: 28px;
}
.dice.slot.eight {
  top: 28px;
  left: 14px;
}
.dice.slot.nine {
  top: 28px;
  left: 28px;
}

.column {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.column.down {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
}

.down {
  top: 310px;
}

.column.one {
  right: 60px;
}
.column.two {
  right: 116px;
}
.column.three {
  right: 172px;
}
.column.four {
  right: 228px;
}
.column.five {
  right: 284px;
}
.column.six {
  right: 340px;
}

.column.recover {
  right: 395px;
  top: 158px;
}
.column.seven {
  right: 452px;
}
.column.eight {
  right: 508px;
}
.column.nine {
  right: 564px;
}
.column.ten {
  right: 620px;
}
.column.eleven {
  right: 676px;
}
.column.twelve {
  right: 732px;
}
.column.twentyfour {
  right: 60px;
}
.column.twentythree {
  right: 116px;
}
.column.twentytwo {
  right: 172px;
}
.column.twentyone {
  right: 228px;
}
.column.twenty {
  right: 284px;
}
.column.nineteen {
  right: 340px;
}
.column.eighteen {
  right: 452px;
}
.column.seventeen {
  right: 508px;
}
.column.sixteen {
  right: 564px;
}
.column.fifteen {
  right: 620px;
}
.column.fourteen {
  right: 676px;
}
.column.thirteen {
  right: 732px;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
